.text-gradient {
    background: $primary-gradient;
    background-clip: text;
    color: transparent;
}
.text-primary {
    color: $primary !important;
}
.text-green {
    color: $green !important;
}
.text-dark {
    color: $dark !important;
}
.text-whiter {
    color: $white !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-light {
    background-color: $light !important;
}