// .gallery {
//     background: $white url('../images/Polygon1.svg');
//     background-position: center top;
//     background-repeat: no-repeat;

// }

// swiper
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    color: #000;
    opacity: 1;
    background: $lightgray;
    position: relative;
    &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.swiper-pagination-bullet-active {
    background: $primary-gradient-vertical;
    &::before {
        background-color: $white;
    }
}