// introduction
.introduction {
    display: flex;
    align-items: center;
    .introduction-img {
        max-width: 60%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}
// 
@include media-breakpoint-down(md) {
    .introduction {
        .introduction-img {
            max-width: 200px;
        }
        article {
            padding: {
                left: 60px;
                right: 60px;
            };
        }
    }
}
// 
@include media-breakpoint-down(sm) {
    .introduction {
        .introduction-img {
            max-width: 200px;
        }
        article {
            padding: {
                left: 32px;
                right: 32px;
            };
        }
    }
}