// loading
.overflow-hidden {
    overflow: hidden;
}
.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    .loading-logo {
        .loading-text {
            font-size: 2rem;
            letter-spacing: 10px;
            margin-left: 30px;
            opacity: 0;
            animation: fadeIn 1s ease-in 1.5s forwards;
        }
        img {
            opacity: 0;
            width: 120px;
            animation: fadeIn 1s ease-in .5s forwards;
        }
    }
    &.hidden {
        display: none;
        opacity: 0;
        animation: fadeOut 1s ease-out 1s forwards;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}
// header
.header {
    width: 100%;
    position: fixed;
    z-index: 100;
    &.fixed {
        animation: headerDown .5s ease-in forwards;
    }
    // logo
    .logo {
        width: 395px;
        img {
            width: 100%;
        }
    }
    height: 70px;
    background-color: $white;
    box-shadow: 0 2px 6px rgba($black, 0.07);
    transition: height .3s ease-in;
    // dropdown toggle
    .nav {
        .dropdown-toggle {
            cursor: pointer;
            position: relative;
            height: 100%;
            padding: 0 15px;
            text-decoration: none;
            color: $dark;
        }
        position: relative;
        .dropdown-menu {
            display: none;
            position: absolute;
            right: 15px;
            top: 48px;      
            width: 216px;
            z-index: 999;
            box-shadow: 0 2px 6px rgba($black, 0.07);
            opacity: 0;
            li {
                position: relative;
                > a {
                    display: block;
                    position: relative;
                    background-color: $white;
                    color: $secondary;
                    padding: 20px 30px;
                    text-align: left;
                    transition: opacity .3s ease-in;
                    text-decoration: none;
                    z-index: 2;
                    > span {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: 9;
                    }
                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-image: $primary-gradient;
                        opacity: 0;
                        transition: opacity .3s ease-in;
                        z-index: -1;
                    }
                    &:hover, &.active { 
                        color: $white;
                        &::before {
                            opacity: 1;
                        }
                    }
                }                
            }
            &.show {
                display: block;
                opacity: 1;
            }
        }
    }
}
@keyframes headerDown {
    0% {
        height: 0;
    } 100% {
        height: 70px;
    }
}
// colors
.text-gradient {
    background: $primary-gradient;
    background-clip: text;
    color: transparent;
}
.text-primary {
    color: $primary !important;
}
.text-whiter {
    color: $white !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-light {
    background-color: $light !important;
}
ul li {
    list-style: none;
}



// banner
.banner {
    position: relative;
    width: 100%;
    z-index: 10;
    padding: {
        top: 140px;
        // bottom: 70px;
    };
    height: 100vh;
    .banner-content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
        text-align: center;
        background-image: url('../images/Polygon9.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 250px;
        background-size: cover
        ;
        figure {
            max-width: 155px;
            margin: 0 auto;
        }
        > p {
            letter-spacing: 10px;
        }
        .scroll-down {
            padding: {
                top: 15px;
                bottom: 15px;
            };
            margin-bottom: 30px;
            span {
                display: block;
                font-weight: 700;
                &:first-child {
                    margin: {
                        left: auto;
                        right: auto;
                        bottom: 10px;
                    };
                    width: 1px;
                    height: 45px;
                    background-color: $black;
                }
            }
        }
        article {
            > p {
                margin-bottom: 15px;
            }
        }
    }
}
.banner-box {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/cube-bg-big.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.block {
	position: absolute;
    bottom: 180px;
	box-shadow: 0px 2px 50px rgba($black, 0.07);
    background-color: $white;
    opacity: .4;
    z-index: 1;
    &:nth-child(5n + 1) {
        animation: floats 7s linear 2s infinite;
    }
    &:nth-child(5n + 2) {
        animation: floats 10s linear infinite;
        
    }
    &:nth-child(5n + 3) {
        animation: floats 7s linear 4s infinite;
    }
    &:nth-child(5n + 4) {
        animation: floats 10s linear infinite;

    }
    &:nth-child(5n + 5) {
        animation: floats 7s linear 4s infinite;
    }
}

@keyframes floats {
    0% {
        transform: translateY(-70px);
    } 50% {
        transform: translateY(70px);
    } 100% {
        transform: translateY(-70px);
    }
}
// video
.video {
    position: relative;
    .play-btn {
        cursor: pointer;
        position: absolute;
        background-color: transparent;
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .3;
        transition: .3s ease-in;
        font-size: 10rem;
        z-index: 10;
        text-decoration: none;
        &:hover {
            background: $primary-gradient-vertical;
            background-clip: text;
            color: transparent;
            transition: .3s ease-in;
            opacity: 1;
        }
    }
}
// introduction
.introduction {
    display: flex;
    align-items: center;
    .introduction-img {
        text-align: center;
        max-width: 380px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}
// serve
.li-wrapper {
    height: 100%;
    position: relative;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 3px 14px rgba($primary, 0.4);
    text-align: center;
    padding: {
        top: 30px;
        bottom: 30px;
    };
    > h3 {
        padding-bottom: 15px;
        position: relative;
        > .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            margin-right: 5px;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 4px;
                left: 0;
            }
            &.icon1 {
                &::before {
                    background-image: url('../images/icon-1.svg');
                }
            }
            &.icon2 {
                &::before {
                    background-image: url('../images/icon-2.svg');
                }
            }
            &.icon3 {
                &::before {
                    background-image: url('../images/icon-3.svg');
                }
            }
        }
        &::before {
            content: "";
            width: 0;
            height: 1px;
            background-color: $green;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            transition: width .3s ease-in;
        }
    }                
    > p {
        line-height: 32px;
        font-weight: 300;
    }
}

// tabs
.tab-nav {
    // &:not(.server-nav-fixed ) {
    //     // animation: serveNavOut .3s linear;

    // }
    transition: top .3s ease-in;
    ul {
        display: flex;
        gap: 30px;
        padding: {
            left: 30px;
            right: 30px;
            
        };
        width: 100%;
        transition: .3s ease-in;
        li {
            position: relative;
            width: 100%;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
            transition: all .3s ease-in;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .3s ease-in;
                background-image: url(../images/digital-cube-mb.webp);
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
            cursor: pointer;
            &:hover, &.active {
                &::before {
                    transition: .3s ease-in;
                    opacity: 1;
                }
                > .li-wrapper {
                    > h3 {
                        &::before {
                            width: 112px;
                        }
                        > .icon {
                            &::before  {              
                                opacity: 0;
                                animation: tabFade .3s linear forwards;
                            }
                            &.icon1 { 
                                &::before {
                                    background-image: url('../images/icon-hover-1.svg');
                                }
                            }
                            &.icon2 {  
                                &::before {
                                    background-image: url('../images/icon-hover-2.svg');
                                }
                            }
                            &.icon3 { 
                                &::before {
                                    background-image: url('../images/icon-hover-3.svg');
                                }
                            }
                        }
                    }
                }
                
            }            
        }
    }
}
// .tab-container {
//     height: 300px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }
.tab-content {
    position: relative;
    &::before {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 30px;
        opacity: 0.5;
        background-image: url(../images/digital-cube-mb.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .tab-pane {
        display: none;
        padding: 15px;
        position: relative;       
        transition: .3s ease-in;
        transform: translateY();
        .content {
            position: relative;
            background-color: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding-left: 30px;
            > .list {
                padding: {
                    top: 45px;
                    bottom: 45px;
                };
                margin: {
                    right: 30px;
                    left: 30px;
                    bottom: 30px;
                };
                border-bottom: 1px solid $horizontal-line;
                h5 {
                    font-weight: 300;
                }
                
                figure {
                    display: block;
                    overflow: hidden;
                    width: 238px;
                    img {
                        width: 100%;
                    }
                }
                .more-warpper {
                    margin: {
                        top: 30px;
                        left: 30px;
                    };
                    position: relative;                    
                }
                &:last-child {
                    border: none;
                }
            }
        }
        
    }
    > .active {
        display: block;
    }    
    > .fade {
        &:not(.show) {
            opacity: 0;
        }
        opacity: 1;
        // transition: opacity .3s linear;
        animation: tabFade .3s linear forwards;
    }
}
@keyframes tabFade {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
.server-nav-fixed {
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 300;
    > ul {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 45px;
    }
    animation: serveNav 0.3s linear forwards; 
}
@keyframes serveNav {
    0% {
        top: 0;
    } 100% {
        top: 70px;
    }
}
.tab-left-nav {
    position: fixed;
    top: 20%;
    overflow: hidden;
    background-color: $white;
    z-index: 10;
    box-shadow: 0 2px 7px rgba($black, 0.07);
    width: 160px;
    opacity: 0;
    transition: .3s ease-out;
    z-index: 100;
    > a {
        display: block;
        width: 100%;
        padding: {
            top: 8px;
            bottom: 8px;
            left: 8px;
        };
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $dark;
        transition: .3s ease-in;
        > .icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            margin-right: 8px;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;     
                background-image: url(../images/icon-1.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &.icon2::before {
                background-image: url(../images/icon-2.svg);
            }
            &.icon3::before {
                background-image: url(../images/icon-3.svg);
            }
        }
        &:hover, &.active {
            color: $white;
            background-image: $footer-gradient-vertical;
            > .icon {
                &::before {
                    background-image: url(../images/icon-hover-1.svg);
                }                
                &.icon2::before {
                    background-image: url(../images/icon-hover-2.svg);
                }
                &.icon3::before {
                    background-image: url(../images/icon-hover-3.svg);
                }
            }

        }
    }
    &.active {
        opacity: 1;
        transition: all .3s ease-in-out;
    }
}
// accordion-item
.accordion-item {
    margin-bottom: 15px;
    > .toggle {
        cursor: pointer;
        position: relative;
        padding: 7px;
        margin: {
            left: 15px;
            right: 15px;
        };
        &::before {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            transition: all .3s ease-in;
            background-image: url(../images/digital-cube-mb.webp);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
        > .li-wrapper {
            > p {
                display: none;
            }
        }
        .toggle-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: $footer-gradient-vertical;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
        }        
    }
    > .content {
        margin-top: 15px;
        position: relative;
        padding: 0 15px;
        height: 0;
        overflow: hidden;
        transition: all 0.5s linear;
        > .content-wrapper {
            position: relative;
            background-color: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 7px;
            &::before {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 30px;
                opacity: 0.5;
                background: $white url(../images/digital-cube-mb.webp);
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
            > .list {
                background-color: $white;
                padding: {
                    left: 10px;
                    right: 10px;
                    top: 30px;
                };
                position: relative;
                article {
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                figure {
                    display: block;
                    overflow: hidden;
                    // width: 238px;
                    // margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
                .more {
                    margin: {
                        top: 30px;
                        bottom: 30px;
                    };
                }
            }
        }       
    }
    &.open {
        > .toggle > .li-wrapper {
            > h3 {
                &::before {
                    width: 112px;
                }
                > .icon {
                    &::before  {              
                        opacity: 0;
                        animation: tabFade .3s linear forwards;
                    }
                    &.icon1 { 
                        &::before {
                            background-image: url('../images/icon-hover-1.svg');
                        }
                    }
                    &.icon2 {  
                        &::before {
                            background-image: url('../images/icon-hover-2.svg');
                        }
                    }
                    &.icon3 { 
                        &::before {
                            background-image: url('../images/icon-hover-3.svg');
                        }
                    }
                }
            }
            > p {
                display: block;
            }
        }
    }
}
.more {
    display: inline-block;
    padding-left: 30px;
    font-size: $h5-font-size;
    color: $lightgray;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in;
    &::before {
        content: "";
        width: 43px;
        height: 1px;
        background-color: $lightgray;
        position: absolute;
        left: -28px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in;
    }
    &:hover {
        color: $primary;
        &::before {
            transition: all 0.3s ease-in;
            left: -18px;
            background-color: $green;
        }
    }
}
// gallery
.gallery {
    background: $white url('../images/Polygon1.svg');
    background-position: center top;
    background-repeat: no-repeat;

}
// footer
footer {
    background-color: $light;
    border-top: 5px solid transparent;
    .footer-content {
        padding: {
            top: 45px;
            bottom: 45px;
        };
        h3 {
            letter-spacing: 7px;
        }
    }
    .footer-links {
        color: $white;
        background-image: $footer-gradient;
        padding: {
            top: 30px;
            bottom: 30px;
        };
        nav > ul {
            list-style: none;
            display: flex;
            > li {
                margin-right: 30px;
                > a {
                    width: 100%;
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.footer-top-border {
    border-image: $footer-gradient;
    border-image-slice: 1
}
// go top 
#gotop {
    width: 40px;
    height: 40px;
    background-color: rgba($black, 0.3);
    border-radius: 50%;
    color: $white;
    transition: all .3s ease-in;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 45px;
    z-index: 999;
    text-decoration: none;
    &:hover {
        background-color: rgba($black, 0.7);
    }
    > .material-symbols-outlined {
        line-height: 40px;
    }
}
/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
}
// @include media-breakpoint-down(xxl) {
//     .banner .banner-content {
//         background-position-y: 110%;
//     }
// }
@include media-breakpoint-down(md) {
    .banner .banner-content {
        background-size: cover;
        background-position: center 246px;
    }     
    .introduction {
        .introduction-img {
            max-width: 200px;
        }
        article {
            padding: {
                left: 60px;
                right: 60px;
            };
        }
    }
    .li-wrapper > p {
        font-size: .5rem;
        line-height: 1.25rem;
    }
    .tab-nav ul {
        padding: {
            right: 0;
            left: 0;
        };
    }
    .tab-content .tab-pane .content {
        padding-left: 10px;
        > .list {
            margin-right: 30px;
            margin-left: 30px;
            figure {
                max-width: 238px;
            }
        } 
    }
    .server-nav-fixed {
        > ul {
            max-width: 100%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .header {
        .logo {
            width: 300px;
        }
    }
    .banner .banner-content {
        background-position: center 250px;
        figure {
            max-width: 170px;
        }
    }     
    .introduction {
        .introduction-img {
            max-width: 200px;
        }
        article {
            padding: {
                left: 32px;
                right: 32px;
            };
        }
    }
    .li-wrapper > p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    footer .footer-links nav{
            > ul {
                display: block;
                width: 100%;
                > li {
                margin-right: 0px;
                margin: {
                    bottom: 8px;
                };
                display: inline-block;
                width: 49%;
            }
        }            
    } 
}
// 
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-21by9::before {
    padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-4by3::before {
    padding-top: 75%;
}

.embed-responsive-1by1::before {
    padding-top: 100%;
}
// 
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    color: #000;
    opacity: 1;
    background: $lightgray;
    position: relative;
    &::before {
        content: "";
        width: 16px;
        height: 16px;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.swiper-pagination-bullet-active {
    background: $primary-gradient-vertical;
    &::before {
        background-color: $white;
    }
}
.tab-pane.active .content::-webkit-scrollbar {
    width: 0;
}
.tab-pane.active .content::-webkit-scrollbar-thumb {
    width: 0;
}
.tab-pane.active .content::-webkit-scrollbar-track {
    width: 0;
}