.video {
    position: relative;
    overflow: hidden;
    .play-btn {
        cursor: pointer;
        position: absolute;
        background-color: transparent;
        left: 50%;
        top: 50%;
        color: $white;
        width: 10rem;
        height: 10rem;
        transform: translate(-50%, -50%);
        opacity: .3;
        transition: opacity .3s ease-in;
        font-size: 10rem;
        z-index: 10;
        text-decoration: none;        
        &:hover {
            transition: opacity .3s ease-in;
            background: $primary-gradient-vertical;   
            background-clip: text;         
            color: transparent;
            opacity: 1;
        }
    }
}